@use 'fonts' as *;
@use 'breakpoints' as *;
body {
    @include merriweather-regular;
    width: 100vw;
}

/*---------------------------------
BOOTSTRAP CUSTOMIZATIONS
---------------------------------*/
.f-effect-1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../media/images/new/font_effect_1.png');
}
.txt-green {
    color: #255946;
}
.btn-primary {
    background-color: #255946;
    outline: none;
    border-radius: 0;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 3px #255946;

    &:hover, &:focus {
        background-color: #255946;
        border-color: #255946;
    }
}
.btn-secondary {
    background-color: #EFB443;
    border: none;
    &:hover {
        background-color: #255946;
    }
}

.btn-tertiary {
    color: #255946;
    transition: 200ms ease;
    &:hover {
        letter-spacing: 1px;
    }
}
h2 {
    @include merriweather-bold;
    position: relative;
    color: #255946;
    font-size: 2.5rem;
}
section:not(#hero, #featured-product) {
    margin-top: 100px;
}
.dropdown-toggle::after {
    display: inherit;
    margin-left: inherit;
    vertical-align: inherit;
    content: "";
    border: none !important;
}
  
.dropdown-menu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
@media (min-width: $breakpoint-md) {
    .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
        display: block;
    }
}
ul.dropdown-menu {
    border: none;
    border-left: 5px solid transparent;
    box-shadow: 5px 5px 10px 0 rgba(138,155,165,.15);
}
// .dropdown-menu-end {
//     position: absolute;
//     background: #fff;
//     left: 100%;
//     top: 50%;
//     margin-left: 5px;
//     border-radius: 6px;
//     border: 1px solid #0000002d;
//     padding: 8px 0px;
// }

a {
    color: inherit;
    text-decoration: inherit;
}

/*---------------------------------
HEADER
---------------------------------*/
@media (min-width: $breakpoint-lg) {
    header .navbar > div {
        gap: 150px;
    }
    header .navbar-nav {
        gap: 35px;
    }
}
@media (min-width: $breakpoint-xl) {
    header .navbar > div {
        gap: 292px;
    }
}
.navbar-collapse {
    flex-grow: 0.3;
}
.nav-link {
    position: relative;
    overflow: hidden;
    font-weight: 500;
    color: #6E7673;
    &.active {
        color: #255946 !important;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0%;
            width: 100%;
            height: 2px;
            background-color: #EFB443;
            color: #EFB443;
            opacity: 1;
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #EFB443;
        opacity: 1;
        transition: all 300ms;
    }
      
    &:hover::after, 
    &:focus::after{
        width: 100%;
    }
    &:focus-visible {
        box-shadow: none;
    }
}

/*---------------------------------
HERO SECTION
---------------------------------*/
#hero {
    position: relative;
    height: 70vh;
    overflow: hidden;

    .backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        background: url("../media/images/new/home_top_banner.jpg") no-repeat center;
        background-size: cover;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background: url('../media/images/new/header_hadow.png') repeat-x center;
            height: 10px;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: url('../media/images/new/hero_shadow.png') repeat-x center;
            height: 10px;
        }
    }

    .featured-content {
        position: relative;
        
        svg {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            width: 100%;
        }
    
        h4 {
            @include merriweather-bold;
            position: relative;
            color: #255946;
            font-size: 2.5rem;
        }
    
        .featured-product-swiper {
            width: 100%;
            overflow-x: hidden;
        }
    }

    .featured-product-content-mobile {
        background: url('../media/images/new/hero_featured_product_vector.svg') no-repeat center;
        background-size: cover;
        padding: 18px 5px;
    }
}

@media (min-width: $breakpoint-sm) {
    #hero {
        height: 800px;

        .featured-product-content-mobile {
            padding: 18px 120px;
        }
        .featured-product-content-desktop {
            max-width: 500px;
            margin-top: -60px;
        }
        .featured-product-content-image {
            padding-top: 20px; 
            max-width: 300px;
        }
    }
}

@media (min-width: $breakpoint-lg) {
    #hero {

        .featured-content {
            
            h4 {
                font-size: 70px;
            }
    
            .featured-product-content > div {
                margin-top: -65px;
                gap: 10px;
            }
        }
        .featured-product-content-desktop {
            margin-top: 100px;
        }
        .featured-product-content-image {
            padding-top: 80px;
        }
    }
}
@media (min-width: $breakpoint-xl) {
    #hero {
        height: 100vh;

        .featured-content {
    
            .featured-product-content {
                
                margin-top: -100px;
            }
            .featured-product-content-image {
                padding-top: 100px;
            }
        }
    }
}
/*---------------------------------
ABOUT US
---------------------------------*/
.about-us {
    h1 {
        @include merriweather-black;
        color: #EFB443;
    }
}

/*---------------------------------
CATEGORY CARDS
---------------------------------*/
#categories {
    .category-swiper {
        width: calc(100vw - 32px);
        height: 600px;
        background-color: #F8EEDA;

        .swiper-slide {
            padding: 0px;
            max-width: 600px;

            .card {
                height: 274px;
                border-radius: 5px;
                border: none;
                max-width: 600px;
            }
            .card-title {
                @include merriweather-bold;
                color: #255946;
                font-size: 29px;
            }
            .card-text {
                @include merriweather-regular;
                color: #255946;
            }
            img {
                object-fit: cover;
                height: 100%;
            }
        }
        .swiper-wrapper {
            padding: 64px 0px;
        }
        .swiper-navigation {
            color: #EFB443;
            background-color: #FFF;
            border-radius: 100%;
            padding: 18px;
            &::after {
                font-size: 18px;
            }
        }
        .swiper-pagination-bullet-active {
            background: #255946 !important;
        }
    }
}
@media (min-width: $breakpoint-md) {
    #categories {
        .category-swiper {
            .swiper-navigation {
                padding: 36px;
                &::after {
                    font-size: 36px;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-lg) {
    #categories {
        .category-swiper {
            width: calc(100vw - 128px);
            height: 450px;

            .swiper-navigation {
                padding: 36px;
                &::after {
                    font-size: 36px;
                }
            }
        }
    }
}
/*---------------------------------
RECIPE CARDS
---------------------------------*/
.recipe-card {
    gap: 35px;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 30px;

    .content {
        background: url('../media/images/new/recipe_content_bg.png') no-repeat center;
        height: 310px;
        gap: 10px;
        background-size: contain;

        h2 {
            @include pacifico-regular;
            font-size: 36px;
        }
    }

    img {
        max-width: 100%;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 12.888px 17.184px -8.592px rgba(0, 0, 0, 0.40);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 200px;
        background-color: #F8EEDA;
        z-index: -1;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 10px;
        background: url('../media/images/new/recipe_card_after.png') repeat-x center;
        z-index: -1;
    }
}

@media (min-width: $breakpoint-md) {
    .recipe-card {
        .content {
            height: 469px;
    
        }
    }
}

/*---------------------------------
TIPS SECTION
---------------------------------*/
#tips {
    .category-cards {
    
        .card {
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 12.889px 17.18px 0px rgba(0, 0, 0, 0.07);
            border: none;
            padding: 0px;
            width: 370px;
    
            .card-title {
                text-align: center;
            }
        }
    }
    .swiper {
        width: 100%;
        height: 500px;

        .swiper-slide {
            transform: 500ms ease;
        }

        @media (min-width: $breakpoint-md) {
            .swiper-slide-active {
                transform: scale(1.1);
            }
        }
        
    }
}

/*---------------------------------
INSTAGRAM
---------------------------------*/
.instagram {
    .swiper.instagram-swiper {
        height: 85vh;
    }
    .instagram-card {
        margin: 20px;
        border-radius: 0px 3px 3px 0px;
        border: 1px solid #DBDBDB;
        background: #FFF;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.08);
    }
    .pacifico {
        @include pacifico-regular;
        color: #255946;
        font-size: 29px;
    }
    img {
        height: 350px;
    }
}

@media (min-width: $breakpoint-lg) {
    .instagram {
        .swiper.instagram-swiper {
            height: 480px;
        }
        img {
            height: 400px;
        }
    }
}

/*---------------------------------
FOOTER
---------------------------------*/

footer {
    margin-top: 100px;
    padding: 40px 12px;
    background-color: #255946;
    color: #F8EEDA;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0px;
        width: 100%;
        height: 17px;
        background: url('../media/images/new/footer_before_el.png') no-repeat center;
        background-size: cover;
    }

    .socials {
        list-style: none;
    }

    .checkbox-list {
        list-style: none;
        padding: 0;
        li {
            margin-top: 9px;
        }
        i {
            background-color: #EFB443;
            color: #000;
            padding: 4px;
            border-radius: 2px;
        }
        i:not(:first-child) {
            margin-right: 10px;
        }
    }

    .input-group {
        background-color: #FFF;
        padding: 6px 6px 6px 24px;
        border-radius: 35px;
        input {
            border: none;
            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
        button {
            padding: 12px 25px;
            border-radius: 25px !important;
        }
    }

}

@media (min-width: $breakpoint-lg) {
    footer {
        margin-top: 100px;
        padding: 40px 100px;
    
        &::before {
            content: '';
            position: absolute;
            top: -15px;
            left: 0px;
            width: 100%;
            height: 17px;
        }
    
        .input-group {
            padding: 6px 6px 6px 24px;
            border-radius: 35px;
            input {
                border: none;
                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }
            button {
                padding: 12px 25px;
                border-radius: 25px !important;
            }
        }
    
    }
}

.footbar {
    position: relative;
    background-color: #1F4E3D;
    color: #B5C3BE;
    padding: 40px 0px;

    &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0px;
        width: 100%;
        height: 17px;
        background: url('../media/images/new/footer_before_el2.png') center;
        background-size: cover;
    }
}